body{
	background-color:#303030;
}




*{
	padding:00;
	margin:0;
	font-family:monospace;
}


ul{
	list-style:none;
	background:#A33030;
}


ul li{
	display:inline-block;
	position:relative;
}


ul li a{
	display:block;
	padding:20px 25px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	font-size:20px;
}


ul li ul.dropdown li{
	display:block;
}


ul li ul.dropdown{
	width:100%;
	background:#A33030;
	position:absolute;
	z-index:999;
	display:none;
}

ul li a:hover{
	background:#842727;
}


ul li:hover ul.dropdown {
	display:block;
}




h1{
	text-align:center;
	font-family:castellar;
	color:white;
	margin:50;
	position:relative;
}


h2{
	text-align:center;
	font-family:castellar;
	color:white;
	margin:50;
	padding:20px;
	position:relative;
}

h3{
	text-align:center;
	font-family:castellar;
	color:white;
	margin:50;
	padding:20px;
	position:relative;
}



p{
	text-align:center;
	color:white;
	margin:50;
	font-size:23px;
}

img{
	max-width:100%;
	max-height:100%;
}


.titleimage{
	margin-top:10px;
}

.textcontainer{
	grid-template-rows: auto;
	grid-template-columns: auto;
	text-align:center;
	margin:30px;
}

.textbox{
	border: 2px solid;
	border-style:none;
	text-align:center;
	padding: 30px;
	height: auto;
	width: 50%;
	margin-left: auto;
  margin-right: auto;
}


a:link {
	text-decoration:none;
}

.primarycontainer{
	display:grid;
	grid-template-columns:repeat(1fr);
	grid-template-rows:auto;
	margin:20px;
	text-align:center;
}




footer{
	background-color: #A33030;
}




.secondarycontainer {
  display: grid;
  grid-template-columns: 1400px 400px;
  grid-template-rows: 50px 400px;
  margin:20px;
}


.secondarycontainer:hover {
	transform: translateY(-10px) scale(1.05);
}

.secondarycontainer img{
 grid-row:2;
 grid-column:2;
 	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
 	  border-radius: 500px;
}

.secondarycontainer p{
	grid-column:1;
  background-color: #A33030;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 25px;
  margin-left: 50px;
  margin-right: 50px;
  border-color:  #8ecccc;
  	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.secondarycontainer h2{
	grid-row:1;
	margin:0px;
	padding:10px;
}

.secondarycontainer h3{
	margin:0px;
	padding:0px;
}


.year2container {
   grid-column:1;
  background-color: #A33030;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 25px;
  margin-left: 450px;
  margin-right: 450px;
  border-color:  #8ecccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.year2container p{

}

.year2container img{
 grid-row:2;
 grid-column:2;
 	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
 	  border-radius: 30px;
}

.year2container:hover {
	transform: translateY(-10px) scale(1.05);
}

